calendar.inline {
  border: none;
  background-color: inherit;
}

button.row-like {
  min-height: 36px;
  border-radius: 12px;
}

row.strikethrough .title {
  text-decoration: line-through;
}

row revealer #alarm-icon {
  padding-left: 12px;
}

preferencespage {
  min-width: 280px;
}
